<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
</head>
<body>
    <h1>Company Show Page</h1>
    <p>Name: <%= company.name %></p>
    <p>Logo:</p>
    <!-- <img src="<%= company.logo %>" alt=""> -->
    <p>Address: <%= company.address %></p>
    <p>City: <%= company.city %></p>
    <p>Telephone: <%= company.telephone %></p>
    <p>Driver info:</p>
    <ul>
        <% company.drivers.forEach(driver => { %>
            <li>
                <p>Driver's name: <%= driver.name %></p>
                <p>Driver's age: <%= driver.age %></p>
                <p>Driver's image:</p>
            </li>
        <% }) %>
    </ul>

    <p>Car info:</p>
    <ul>
        <% company.cars.forEach(car => { %>
            <li>
                <p>Car's name: <%= car.name %></p>
                <p>Car's model: <%= car.model %></p>
                <p>Car's year: <%= car.year %></p>
                <p>Car's Image:</p>
            </li>
        <% }) %>
    </ul>
</body>
</html>